In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
a = pd.read_csv("./../datasets/car data.csv")
b = pd.read_csv("./../datasets/CAR DETAILS FROM CAR DEKHO.csv")
c = pd.read_csv("./../datasets/Car details v3.csv")

In [6]:
a.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [7]:
b.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [8]:
c.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [9]:
a.shape,  b.shape, c.shape

((301, 9), (4340, 8), (8128, 13))

In [10]:
## Perfoming data analysis on the 'a' dataset
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [11]:
a.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [12]:
a.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [21]:
a.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [22]:
from sklearn.preprocessing import LabelEncoder;

In [23]:
le = LabelEncoder()

In [24]:
cols = a.columns

In [26]:
for i in cols:
    a[i] = le.fit_transform(a[i])

In [27]:
a.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,90,11,59,57,86,2,0,1,0
1,93,10,78,104,135,1,0,1,0
2,68,14,112,106,26,2,0,1,0
3,96,8,52,49,18,2,0,1,0
4,92,11,76,73,134,1,0,1,0

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X = a.drop('Selling_Price', axis = 1)

In [30]:
y = a['Selling_Price']

In [31]:
X.head()

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,90,11,57,86,2,0,1,0
1,93,10,104,135,1,0,1,0
2,68,14,106,26,2,0,1,0
3,96,8,49,18,2,0,1,0
4,92,11,73,134,1,0,1,0

In [32]:
y.head()

0     59
1     78
2    112
3     52
4     76
Name: Selling_Price, dtype: int64

In [33]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.3, random_state=101)

In [34]:
from sklearn.linear_model import LinearRegression

In [35]:
model = LinearRegression()

In [36]:
model.fit(X_train, y_train)

LinearRegression()

In [38]:
predictions = model.predict(X_test)

In [39]:
predictions

array([ 12.33117674, 106.35541401, 112.3389666 , 116.393293  ,
        14.28768894,  82.28257141, 101.3081825 , 108.77870068,
        23.67835434, 112.59497312,  75.76063941,  23.5607463 ,
       -31.63537578,  77.95952263, 111.36570776,  69.49950401,
        82.18633577,  30.46057379,  70.43086755, 120.40083677,
        66.5059454 ,  50.82648494, 102.7364388 , 120.42465893,
        16.18577791,  95.4292083 ,  12.26620838,  73.4147913 ,
        87.2635975 ,  89.64347846,  62.07055614, 125.98954406,
        25.9245678 , 121.25274421,  72.14160228,   9.57952662,
        59.15423142, -21.97648553,  88.97751495,  39.68600634,
        35.57479833,  68.93023314, 114.36415637, 103.30154422,
        26.80972602,  82.01377384, -24.54497689, 116.90820146,
        76.20804768, 120.61306335,  81.68572271,  40.15299337,
       100.83732383, -13.50558945,  87.29726816,  89.71456413,
        13.47955105,  15.60719381,  96.57961827, 116.53782417,
       -15.37111316, 120.20748598,  22.10239401, 105.36565815,
       108.8148195 , 100.31183855, 133.33875737,   9.87935927,
        73.98864009,  96.42047686,  26.95339595,  86.32529044,
        15.28453314,  82.16752752,  64.52770116,  93.00717681,
       120.42465893,  33.84574191,  16.7765422 ,  48.85865739,
       100.36346969, 101.61121847,  -1.20736968,  44.23398858,
        82.02421092, 116.92072223,  -1.71990868,  32.73000412,
       100.67619778, -18.77070341,  95.17730996])

In [41]:
from sklearn import metrics

In [44]:
print("MAE: ", metrics.mean_absolute_error(y_test, predictions))
print("MSE: ", metrics.mean_squared_error(y_test, predictions))
print("RMSE: ", np.sqrt(metrics.mean_squared_error(y_test, predictions)))

MAE:  10.543352565561838
MSE:  204.3789967840648
RMSE:  14.296118241818819

In [45]:
print("R2 score :", metrics.explained_variance_score(y_test, predictions))

R2 score : 0.8789843937667278