In [1]:
import numpy as np
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
data = './../datasets/drug200.csv'

In [4]:
Drug = pd.read_csv(data)

In [5]:
Drug.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [6]:
Drug.shape

(200, 6)

In [7]:
Drug.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [8]:
Drug.isna().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
encoder = LabelEncoder()

In [15]:
for column in Drug.columns:
    if not pd.api.types.is_numeric_dtype(Drug[column]):
        print(f"Categorical Column: {column}")
        print(f"Unique Values: {Drug[column].unique()}\n")

Categorical Column: Sex
Unique Values: ['F' 'M']

Categorical Column: BP
Unique Values: ['HIGH' 'LOW' 'NORMAL']

Categorical Column: Cholesterol
Unique Values: ['HIGH' 'NORMAL']

Categorical Column: Drug
Unique Values: ['DrugY' 'drugC' 'drugX' 'drugA' 'drugB']

In [20]:
X = Drug.drop("Drug", axis=1)

In [21]:
y = Drug['Drug']

In [24]:
for column in X.columns:
    if not pd.api.types.is_numeric_dtype(X[column]):
        X[column] = encoder.fit_transform(X[column]);
        print(f"{column} transformed")

Sex transformed
BP transformed
Cholesterol transformed

In [25]:
X.head()

   Age  Sex  BP  Cholesterol  Na_to_K
0   23    0   0            0   25.355
1   47    1   1            0   13.093
2   47    1   1            0   10.114
3   28    0   2            0    7.798
4   61    0   1            0   18.043

In [26]:
from sklearn.model_selection import train_test_split

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=101, shuffle=True, stratify=y)

In [30]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((150, 5), (50, 5), (150,), (50,))

In [31]:
from sklearn.ensemble import GradientBoostingClassifier

In [32]:
gradientBoost = GradientBoostingClassifier()

In [34]:
gradientBoost.fit(X_train, y_train)

GradientBoostingClassifier()

In [37]:
predictions = gradientBoost.predict(X_test)

In [38]:
from sklearn.metrics import accuracy_score

In [39]:
print(accuracy_score(y_test, predictions) * 100)

98.0

## Using another boosting algorithm
#### The XGBoost algorithm